@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700,900);
*, body {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {outline: none; }
a:focus, a:active {outline: none;}
nav, footer, header, aside {display: block;}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {font-family: inherit;}
input::-ms-clear {display: none;}
button {cursor: pointer;}
button::-moz-focus-inner {padding: 0;border: 0;}
a, a:visited {text-decoration: none;}
a:hover {text-decoration: none;}
ul li {list-style: none;}
img {vertical-align: top;}
h1, h2, h3, h4, h5, h6 {font-size: inherit;font-weight: inherit; }

@font-face {
  font-family: "Bicubik-Regular"; 
  src: url("bicubik.otf") format("truetype"); 
  font-style: normal; 
  font-weight: normal; 
} 

@font-face {
  font-family: "Swiss721BT-BlackOutline"; 
  src: url("Swiss 721 Black Outline BT.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: normal; 
} 

@font-face {
  font-family: 'Helios Cond Regular';
  src: url('HeliosCond.eot');
  src: url('HeliosCond.eot?#iefix') format('embedded-opentype'),
  url('HeliosCond.woff') format('woff'),
  url('HeliosCond.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #808080;
}

.brands {
  display: flex;
  margin: 0 auto;
  position: relative;
  top: 80px;
  width: 1364px;
  height: 768px;
  background: #FFFFFF;
}

.brands__brand-1-2 {
  display: flex;
}

.brands__brand-3-4 {
  display: flex;
}

.brands__brand-1 {
  position: relative;
  border: 1px solid #808080;
  width: 341px;
  height: 768px;
  transition: all 0.3s ease 0s;
}

.brands__brand-1:hover {
  background-color: #95BC00;
  margin: 0 auto;
  border: 1px solid #808080;
  width: 341px;
  height: 768px;
}

.brands__brand-1:hover .brands__container-info {
  position: relative;
  top: 410px;
  transition: all 0.7s ease 0s;
}

.brands__brand-1:hover .brands__logo {
  content: url(logo_white.png);
}

.brands__brand-1:hover .brands__magic {
  content: url(magic_white.png);
}

.brands__brand-1:hover .brands__title p {
  color: #fff;
}

.brands__brand-1:hover .brands__title h2 {
  color: #fff;
}

.brands__brand-1:hover .brands__text {
  color: #fff;
}

.brands__brand-1:hover .brands__link-button {
  color: #fff;
}

.brands__brand-1:hover .brands__link:after {
  position: relative;
  left: 77px;
  top: 18px;
  content: url(arrow_white.png);
}

.brands__animate-1 img {
  width: 0px;
  height: 0px;
  position: absolute;
  top: 127px;
  z-index: 11;
  transition: all 0.4s ease 0s;
}

.brands__brand-1:hover .brands__animate-1 img {
  width: 356px;
  height: 447px;
  position: absolute;
  top: 55px;
  z-index: 11;
  transition: all 1s ease 0.1s;
}

.brands__brand-2 {
  position: relative;
  border: 1px solid #808080;
  width: 341px;
  height: 768px;
  transition: all 0.3s ease 0s;
}

.brands__brand-2:hover {
  background-color: #F34E4E;
  margin: 0 auto;
  border: 1px solid #808080;
  width: 341px;
  height: 768px;
}

.brands__brand-2:hover .brands__container-info {
  position: relative;
  top: 390px;
  transition: all 0.7s ease 0s;
}

.brands__brand-2:hover .brands__title p {
  position: relative;
  top: 100px;
  color: #fff;
}

.brands__brand-2:hover .brands__title h2 {
  color: #fff;
}

.brands__brand-2:hover .brands__text {
  color: #fff;
}

.brands__brand-2:hover .brands__link-button {
  color: #fff;
}

.brands__brand-2:hover .brands__link:after {
  position: relative;
  left: 77px;
  top: 18px;
  content: url(arrow_red.png);
}

.brands__screen {
  display: block;
  position: absolute;
  right: 311px;
  top: 52px;
  width: 0;
  height: 0;
  transition: all 0.4s ease 0s;
}

.brands__magnifier {
  display: block;
  position: absolute;
  right: 43px;
  top: 272px;
  width: 0;
  height: 0;
  transition: all 0.4s ease 0s;
}

.brands__checkbox {
  display: block;
  position: absolute;
  right: 0;
  top: 100px;
  width: 0;
  height: 116px;
  transition: all 0.5s ease 0.1s;
}

.brands__brand-2:hover .brands__screen {
  display: block;
  position: absolute;
  right: 114px;
  top: 52px;
  width: 257px;
  height: 385px;
  transition: all 1s ease 0.1s;
}

.brands__brand-2:hover .brands__magnifier {
  display: block;
  position: absolute;
  top: 272px;
  right: -10px;
  width: 121px;
  height: 186px;
  transition: all 1s ease 0.5s;
}

.brands__brand-2:hover .brands__checkbox {
  display: block;
  position: absolute;
  right: 0;
  top: 100px;
  width: 78px;
  height: 116px;
  transition: all 1s ease 0.3s;
}

.brands__brand-3 {
  position: relative;
  overflow: hidden;
  border: 1px solid #808080;
  width: 341px;
  height: 768px;
  transition: all 0.3s ease 0s;
}

.brands__brand-3:hover {
  background-color: #FFD745;
  margin: 0 auto;
  border: 1px solid #808080;
  width: 341px;
  height: 768px;
}

.brands__brand-3:hover .brands__container-info-3 {
  position: relative;
  top: 390px;
  transition: all 0.7s ease 0s;
}

.brands__brand-3:hover .brands__title p {
  color: #fff;
}

.brands__brand-3:hover .brands__title h2 {
  color: #fff;
}

.brands__brand-3:hover .brands__text {
  color: #fff;
}

.brands__brand-3:hover .brands__link-button {
  color: #fff;
}

.brands__brand-3:hover .brands__link:after {
  position: relative;
  left: 77px;
  top: 18px;
  content: url(arrow_yellow.png);
}

.brands__animate-3 img {
  width: 0px;
  height: 0px;
  position: absolute;
  top: 127px;
  z-index: 11;
  transition: all 0.4s ease 0s;
}

.brands__brand-3:hover .brands__animate-3 img {
  width: 356px;
  height: 447px;
  position: absolute;
  top: 55px;
  z-index: 11;
  transition: all 1s ease 0.1s;
}

.brands__big-cube {
  width: 0;
  height: 0;
  position: relative;
  right: 346px;
  top: 75px;
  z-index: 21;
  transform: rotate(-245deg);
  transition: all 0.4s ease 0s;
}

.brands__little-cube-1 {
  width: 0;
  height: 0;
  position: absolute;
  left: -246px;
  top: 175px;
  transform: rotate(-245deg);
  transition: all 0.3s ease 0s;
}

.brands__little-cube-2 {
  width: 0;
  height: 0;
  position: absolute;
  right: 745px;
  top: 126px;
  transform: rotate(-245deg);
  transition: all 0.3s ease 0s;
}

.brands__little-cube-3 {
  width: 0;
  height: 0;
  position: absolute;
  right: 746px;
  top: 575px;
  transform: rotate(-245deg);
  transition: all 0.3s ease 0s;
}

.brands__brand-3:hover .brands__big-cube {
  width: 279px;
  height: 316px;
  position: absolute;
  right: 105px;
  top: 75px;
  z-index: 21;
  transform: rotate(0deg);
  transition: all 1s ease 0.1s;
}

.brands__brand-3:hover .brands__little-cube-1 {
  width: 77px;
  height: 84px;
  position: absolute;
  left: 274px;
  top: 75px;
  transform: rotate(0deg);
  transition: all 1s ease 0.3s;
}

.brands__brand-3:hover .brands__little-cube-2 {
  width: 44px;
  height: 50px;
  position: absolute;
  right: 95px;
  top: 346px;
  transform: rotate(0deg);
  transition: all 1s ease 0.5s;
}

.brands__brand-3:hover .brands__little-cube-3 {
  width: 49px;
  height: 46px;
  position: absolute;
  right: 137px;
  top: 19px;
  transform: rotate(0deg);
  transition: all 1s ease 0.4s;
}

.brands__brand-4 {
  position: relative;
  overflow: hidden;
  border: 1px solid #808080;
  width: 341px;
  height: 768px;
  transition: all 0.3s ease 0s;
}

.brands__brand-4:hover {
  background-color: #008FC0;
  margin: 0 auto;
  border: 1px solid #808080;
  width: 341px;
  height: 768px;
}

.brands__brand-4:hover .brands__container-info {
  position: relative;
  top: 390px;
  transition: all 0.7s ease 0s;
}

.brands__brand-4:hover .brands__title p {
  color: #fff;
}

.brands__brand-4:hover .brands__title h2 {
  color: #fff;
}

.brands__brand-4:hover .brands__text {
  color: #fff;
}

.brands__brand-4:hover .brands__link-button {
  color: #fff;
}

.brands__brand-4:hover .brands__link:after {
  position: relative;
  left: 77px;
  top: 18px;
  content: url(arrow_red.png);
}

.brands__animate-4 img {
  width: 0px;
  height: 0px;
  position: absolute;
  top: 127px;
  z-index: 11;
  transition: all 0.4s ease 0s;
}

.brands__brand-4:hover .brands__animate-4 img {
  width: 356px;
  height: 447px;
  position: absolute;
  top: 55px;
  z-index: 11;
  transition: all 1s ease 0.1s;
}

.brands__speaker {
  position: absolute;
  right: 297px;
  top: 17px;
  transition: all 0.4s ease 0s;
}

.brands__like-1 {
  width: 0;
  height: 0;
  position: absolute;
  right: 225px;
  top: 118px;
  transform: rotate(-245deg);
  transition: all 0.1s ease 0s;
}

.brands__like-2 {
  width: 0;
  height: 0;
  position: absolute;
  right: 217px;
  top: 211px;
  transform: rotate(-245deg);
  transition: all 0.1s ease 0s;
}

.brands__smile {
  width: 0;
  height: 0;
  position: absolute;
  right: 255px;
  top: 140px;
  transition: all 0.1s ease 0s;
}

.brands__heart {
  width: 0;
  height: 0;
  position: absolute;
  right: -2px;
  top: 140px;
  transition: all 0.1s ease 0s;
}

.brands__brand-4:hover .brands__speaker {
  position: absolute;
  right: 37px;
  transition: all 0.7s ease 0.1s;
}

.brands__brand-4:hover .brands__like-1 {
  width: 72px;
  height: 72px;
  position: absolute;
  right: 104px;
  top: 11px;
  transform: rotate(-0deg);
  transition: all 1s ease 0.7s;
}

.brands__brand-4:hover .brands__like-2 {
  width: 83px;
  height: 82px;
  position: absolute;
  right: 15px;
  top: 266px;
  transform: rotate(-0deg);
  transition: all 1s ease 0.8s;
}

.brands__brand-4:hover .brands__smile {
  width: 75px;
  height: 75px;
  position: absolute;
  right: 93px;
  top: 102px;
  transition: all 1s ease 0.4s;
}

.brands__brand-4:hover .brands__heart {
  width: 75px;
  height: 75px;
  position: absolute;
  right: -2px;
  top: 102px;
  transition: all 1s ease 2s;
}

.brands__logo {
  position: absolute;
  top: 41px;
  left: 27px;
  z-index: 21;
}

.brands__container-info {
  position: relative;
  top: 248px;
  margin: 0 auto;
  width: 164px;
  height: 257px;

  transition: all 0.7s ease 0s;
}

.brands__container-info-3 {
  position: relative;
  top: 235px;
  margin: 0 auto;
  width: 164px;
  height: 257px;

  transition: all 0.7s ease 0s;
}


.brands__title {
  position: relative;
  right: 59px;
  width: 205px;
  margin: 0 auto;
  display: flex;
}

.brands__title p {
  font-family: "Swiss721BT-BlackOutline";
  font-size: 36px;
  color: #BAB9B9;
}

.brands__title h2 {
  padding-left: 11px;
  padding-top: 17px;
  font-family: "Bicubik-Regular";
  font-size: 18px;
}

.brands__text {
  margin-top: 14px;
  margin-bottom: 26px;
  width: 184px;
  height: 125px;
  font-size: 11px;
  line-height: 13.6px;
  font-family: 'Arial';
  color: #BAB9B9;
  border-bottom: 3px solid;
}

.brands__link {
  width: 183px;
}

.brands__link:after {
  cursor: pointer;
  position: relative;
  left: 77px;
  top: 18px;
  content: url(arrow_gray.png);
}

.brands__link-button {
  font-family: "Bicubik-Regular";
  font-size: 18px;
  color: #000;
  border-bottom: 1px solid;
}

.brands__magic {
  position: absolute;
  top: 705px;
  left: 30px;
}

@media only screen and (max-width: 1359px) {

body {
  background-color: #808080;
}

.brands {
  margin: 0 auto;
  position: relative;
  top: 0;
  max-width: 682px;
  width: 100%;
  height: 768px;
  background: #FFFFFF;
  display: flex;
  flex-wrap: wrap;
}

.brands__brand-1 {
  position: relative;
  border: 1px solid #808080;
  width: 341px;
  height: 768px;
  transition: all 0.3s ease 0s;
}

.brands__container-info {
  transition: all 0.7s ease 0s;
}

.brands__brand-1:hover {
  background-color: #95BC00;
  margin: 0 auto;
  border: 1px solid #808080;
  width: 341px;
  height: 768px;
}

.brands__brand-1:hover .brands__container-info {
  position: relative;
  top: 410px;
  transition: all 0.7s ease 0s;
}

.brands__brand-1:hover .brands__logo {
  content: url(logo_white.png);
}

.brands__brand-1:hover .brands__magic {
  content: url(magic_white.png);
}

.brands__brand-1:hover .brands__title p {
  color: #fff;
}

.brands__brand-1:hover .brands__title h2 {
  color: #fff;
}

.brands__brand-1:hover .brands__text {
  color: #fff;
}

.brands__brand-1:hover .brands__link-button {
  color: #fff;
}

.brands__brand-1:hover .brands__link:after {
  position: relative;
  left: 77px;
  top: 18px;
  content: url(arrow_white.png);
}

.brands__animate-1 img {
  width: 0px;
  height: 0px;
  position: absolute;
  top: 127px;
  z-index: 11;
  transition: all 0.4s ease 0s;
}

.brands__brand-1:hover .brands__animate-1 img {
  width: 356px;
  height: 447px;
  position: absolute;
  top: 55px;
  z-index: 11;
  transition: all 1s ease 0.1s;
}

.brands__brand-2 {
  background-color: #fff;
  position: relative;
  border: 1px solid #808080;
  width: 341px;
  height: 768px;
  transition: all 0.3s ease 0s;
}

.brands__brand-2:hover {
  background-color: #F34E4E;
  margin: 0 auto;
  border: 1px solid #808080;
  width: 341px;
  height: 768px;
}

.brands__brand-2:hover .brands__container-info {
  position: relative;
  top: 390px;
  transition: all 0.7s ease 0s;
}

.brands__brand-2:hover .brands__title p {
  position: relative;
  top: 100px;
  color: #fff;
}

.brands__brand-2:hover .brands__title h2 {
  color: #fff;
}

.brands__brand-2:hover .brands__text {
  color: #fff;
}

.brands__brand-2:hover .brands__link-button {
  color: #fff;
}

.brands__brand-2:hover .brands__link:after {
  position: relative;
  left: 77px;
  top: 18px;
  content: url(arrow_red.png);
}

.brands__screen {
  display: block;
  position: absolute;
  right: 311px;
  top: 52px;
  width: 0;
  height: 0;
  transition: all 0.4s ease 0s;
}

.brands__magnifier {
  display: block;
  position: absolute;
  right: 43px;
  top: 272px;
  width: 0;
  height: 0;
  transition: all 0.4s ease 0s;
}

.brands__checkbox {
  display: block;
  position: absolute;
  right: 0;
  top: 100px;
  width: 0;
  height: 116px;
  transition: all 0.5s ease 0.1s;
}

.brands__brand-2:hover .brands__screen {
  display: block;
  position: absolute;
  right: 114px;
  top: 52px;
  width: 257px;
  height: 385px;
  transition: all 1s ease 0.1s;
}

.brands__brand-2:hover .brands__magnifier {
  display: block;
  position: absolute;
  top: 272px;
  right: -10px;
  width: 121px;
  height: 186px;
  transition: all 1s ease 0.5s;
}

.brands__brand-2:hover .brands__checkbox {
  display: block;
  position: absolute;
  right: 0;
  top: 100px;
  width: 78px;
  height: 116px;
  transition: all 1s ease 0.3s;
}

.brands__brand-3 {
  background-color: #fff;
  position: relative;
  overflow: hidden;
  border: 1px solid #808080;
  width: 341px;
  height: 768px;
  transition: all 0.3s ease 0s;
}

.brands__brand-3:hover {
  background-color: #FFD745;
  margin: 0 auto;
  border: 1px solid #808080;
  width: 341px;
  height: 768px;
}

.brands__brand-3:hover .brands__container-info {
  position: relative;
  top: 390px;
  transition: all 0.7s ease 0s;
}

.brands__brand-3:hover .brands__title p {
  color: #fff;
}

.brands__brand-3:hover .brands__title h2 {
  color: #fff;
}

.brands__brand-3:hover .brands__text {
  color: #fff;
}

.brands__brand-3:hover .brands__link-button {
  color: #fff;
}

.brands__brand-3:hover .brands__link:after {
  position: relative;
  left: 77px;
  top: 18px;
  content: url(arrow_yellow.png);
}

.brands__animate-3 img {
  width: 0px;
  height: 0px;
  position: absolute;
  top: 127px;
  z-index: 11;
  transition: all 0.4s ease 0s;
}

.brands__brand-3:hover .brands__animate-3 img {
  width: 356px;
  height: 447px;
  position: absolute;
  top: 55px;
  z-index: 11;
  transition: all 1s ease 0.1s;
}

.brands__big-cube {
  width: 0;
  height: 0;
  position: relative;
  right: 346px;
  top: 75px;
  z-index: 21;
  transform: rotate(-245deg);
  transition: all 0.4s ease 0s;
}

.brands__little-cube-1 {
  width: 0;
  height: 0;
  position: absolute;
  left: -246px;
  top: 175px;
  transform: rotate(-245deg);
  transition: all 0.3s ease 0s;
}

.brands__little-cube-2 {
  width: 0;
  height: 0;
  position: absolute;
  right: 745px;
  top: 126px;
  transform: rotate(-245deg);
  transition: all 0.3s ease 0s;
}

.brands__little-cube-3 {
  width: 0;
  height: 0;
  position: absolute;
  right: 746px;
  top: 575px;
  transform: rotate(-245deg);
  transition: all 0.3s ease 0s;
}

.brands__brand-3:hover .brands__big-cube {
  width: 279px;
  height: 316px;
  position: absolute;
  right: 105px;
  top: 75px;
  z-index: 21;
  transform: rotate(0deg);
  transition: all 1s ease 0.1s;
}

.brands__brand-3:hover .brands__little-cube-1 {
  width: 77px;
  height: 84px;
  position: absolute;
  left: 274px;
  top: 75px;
  transform: rotate(0deg);
  transition: all 1s ease 0.3s;
}

.brands__brand-3:hover .brands__little-cube-2 {
  width: 44px;
  height: 50px;
  position: absolute;
  right: 95px;
  top: 346px;
  transform: rotate(0deg);
  transition: all 1s ease 0.5s;
}

.brands__brand-3:hover .brands__little-cube-3 {
  width: 49px;
  height: 46px;
  position: absolute;
  right: 137px;
  top: 19px;
  transform: rotate(0deg);
  transition: all 1s ease 0.4s;
}

.brands__brand-4 {
  background-color: #fff;
  position: relative;
  overflow: hidden;
  border: 1px solid #808080;
  width: 341px;
  height: 768px;
  transition: all 0.3s ease 0s;
}

.brands__brand-4:hover {
  background-color: #008FC0;
  margin: 0 auto;
  border: 1px solid #808080;
  width: 341px;
  height: 768px;
}

.brands__brand-4:hover .brands__container-info {
  position: relative;
  top: 390px;
  transition: all 0.7s ease 0s;
}

.brands__brand-4:hover .brands__title p {
  color: #fff;
}

.brands__brand-4:hover .brands__title h2 {
  color: #fff;
}

.brands__brand-4:hover .brands__text {
  color: #fff;
}

.brands__brand-4:hover .brands__link-button {
  color: #fff;
}

.brands__brand-4:hover .brands__link:after {
  position: relative;
  left: 77px;
  top: 18px;
  content: url(arrow_blue.png);
}

.brands__animate-4 img {
  width: 0px;
  height: 0px;
  position: absolute;
  top: 127px;
  z-index: 11;
  transition: all 0.4s ease 0s;
}

.brands__brand-4:hover .brands__animate-4 img {
  width: 356px;
  height: 447px;
  position: absolute;
  top: 55px;
  z-index: 11;
  transition: all 1s ease 0.1s;
}

.brands__speaker {
  position: absolute;
  right: 297px;
  top: 17px;
  transition: all 0.4s ease 0s;
}

.brands__like-1 {
  width: 0;
  height: 0;
  position: absolute;
  right: 225px;
  top: 118px;
  transform: rotate(-245deg);
  transition: all 0.1s ease 0s;
}

.brands__like-2 {
  width: 0;
  height: 0;
  position: absolute;
  right: 217px;
  top: 211px;
  transform: rotate(-245deg);
  transition: all 0.1s ease 0s;
}

.brands__smile {
  width: 0;
  height: 0;
  position: absolute;
  right: 255px;
  top: 140px;
  transition: all 0.1s ease 0s;
}

.brands__heart {
  width: 0;
  height: 0;
  position: absolute;
  right: -2px;
  top: 140px;
  transition: all 0.1s ease 0s;
}

.brands__brand-4:hover .brands__speaker {
  position: absolute;
  right: 37px;
  transition: all 0.7s ease 0.1s;
}

.brands__brand-4:hover .brands__like-1 {
  width: 72px;
  height: 72px;
  position: absolute;
  right: 104px;
  top: 11px;
  transform: rotate(-0deg);
  transition: all 1s ease 0.7s;
}

.brands__brand-4:hover .brands__like-2 {
  width: 83px;
  height: 82px;
  position: absolute;
  right: 15px;
  top: 266px;
  transform: rotate(-0deg);
  transition: all 1s ease 0.8s;
}

.brands__brand-4:hover .brands__smile {
  width: 75px;
  height: 75px;
  position: absolute;
  right: 93px;
  top: 102px;
  transition: all 1s ease 0.4s;
}

.brands__brand-4:hover .brands__heart {
  width: 75px;
  height: 75px;
  position: absolute;
  right: -2px;
  top: 102px;
  transition: all 1s ease 2s;
}

.brands__logo {
  position: absolute;
  top: 41px;
  left: 27px;
  z-index: 21;
}

.brands__container-info {
  position: relative;
  top: 248px;
  margin: 0 auto;
  width: 164px;
  height: 257px;
}

.brands__title {
  position: relative;
  right: 59px;
  width: 205px;
  margin: 0 auto;
  display: flex;
}

.brands__title p {
  font-family: "Swiss721BT-BlackOutline";
  font-size: 36px;
  color: #BAB9B9;
}

.brands__title h2 {
  padding-left: 11px;
  padding-top: 17px;
  font-family: "Bicubik-Regular";
  font-size: 18px;
}

.brands__link {
  width: 183px;
}

.brands__link:after {
  cursor: pointer;
  position: relative;
  left: 77px;
  top: 18px;
  content: url(arrow_gray.png);
}

.brands__link-button {
  font-family: "Bicubik-Regular";
  font-size: 18px;
  color: #000;
  border-bottom: 1px solid;
}

.brands__magic {
  position: absolute;
  top: 705px;
  left: 30px;
}

}

@media only screen and (max-width: 669px) {

body {
  background-color: #808080;
}

.brands {
  margin: 0 auto;
  position: relative;
  top: 0;
  max-width: 341px;
  width: 100%;
  height: 768px;
  background: #FFFFFF;
  display: flex;
}

.brands__brand-1-2 {
  display: block;
}

.brands__brand-3-4 {
  display: block;
}

.brands__brand-1 {
  background-color: #fff;
  position: relative;
  border: 1px solid #808080;
  width: 341px;
  height: 768px;
  transition: all 0.3s ease 0s;
}

.brands__container-info {
  transition: all 0.7s ease 0s;
}

.brands__brand-1:hover {
  background-color: #95BC00;
  margin: 0 auto;
  border: 1px solid #808080;
  width: 341px;
  height: 768px;
}

.brands__brand-1:hover .brands__container-info {
  position: relative;
  top: 410px;
  transition: all 0.7s ease 0s;
}

.brands__brand-1:hover .brands__logo {
  content: url(logo_white.png);
}

.brands__brand-1:hover .brands__magic {
  content: url(magic_white.png);
}

.brands__brand-1:hover .brands__title p {
  color: #fff;
}

.brands__brand-1:hover .brands__title h2 {
  color: #fff;
}

.brands__brand-1:hover .brands__text {
  color: #fff;
}

.brands__brand-1:hover .brands__link-button {
  color: #fff;
}

.brands__brand-1:hover .brands__link:after {
  position: relative;
  left: 77px;
  top: 18px;
  content: url(arrow_white.png);
}

.brands__animate-1 img {
  width: 0px;
  height: 0px;
  position: absolute;
  top: 127px;
  z-index: 11;
  transition: all 0.4s ease 0s;
}

.brands__brand-1:hover .brands__animate-1 img {
  width: 356px;
  height: 447px;
  position: absolute;
  top: 55px;
  z-index: 11;
  transition: all 1s ease 0.1s;
}

.brands__brand-2 {
  background-color: #fff;
  position: relative;
  border: 1px solid #808080;
  width: 341px;
  height: 768px;
  transition: all 0.3s ease 0s;
}

.brands__brand-2:hover {
  background-color: #F34E4E;
  margin: 0 auto;
  border: 1px solid #808080;
  width: 341px;
  height: 768px;
}

.brands__brand-2:hover .brands__container-info {
  position: relative;
  top: 390px;
  transition: all 0.7s ease 0s;
}

.brands__brand-2:hover .brands__title p {
  position: relative;
  top: 100px;
  color: #fff;
}

.brands__brand-2:hover .brands__title h2 {
  color: #fff;
}

.brands__brand-2:hover .brands__text {
  color: #fff;
}

.brands__brand-2:hover .brands__link-button {
  color: #fff;
}

.brands__brand-2:hover .brands__link:after {
  position: relative;
  left: 77px;
  top: 18px;
  content: url(arrow_red.png);
}

.brands__screen {
  display: block;
  position: absolute;
  right: 311px;
  top: 52px;
  width: 0;
  height: 0;
  transition: all 0.4s ease 0s;
}

.brands__magnifier {
  display: block;
  position: absolute;
  right: 43px;
  top: 272px;
  width: 0;
  height: 0;
  transition: all 0.4s ease 0s;
}

.brands__checkbox {
  display: block;
  position: absolute;
  right: 0;
  top: 100px;
  width: 0;
  height: 116px;
  transition: all 0.5s ease 0.1s;
}

.brands__brand-2:hover .brands__screen {
  display: block;
  position: absolute;
  right: 114px;
  top: 52px;
  width: 257px;
  height: 385px;
  transition: all 1s ease 0.1s;
}

.brands__brand-2:hover .brands__magnifier {
  display: block;
  position: absolute;
  top: 272px;
  right: -10px;
  width: 121px;
  height: 186px;
  transition: all 1s ease 0.5s;
}

.brands__brand-2:hover .brands__checkbox {
  display: block;
  position: absolute;
  right: 0;
  top: 100px;
  width: 78px;
  height: 116px;
  transition: all 1s ease 0.3s;
}

.brands__brand-3 {
  background-color: #fff;
  position: relative;
  overflow: hidden;
  border: 1px solid #808080;
  width: 341px;
  height: 768px;
  transition: all 0.3s ease 0s;
}

.brands__brand-3:hover {
  background-color: #FFD745;
  margin: 0 auto;
  border: 1px solid #808080;
  width: 341px;
  height: 768px;
}

.brands__brand-3:hover .brands__container-info {
  position: relative;
  top: 390px;
  transition: all 0.7s ease 0s;
}

.brands__brand-3:hover .brands__title p {
  color: #fff;
}

.brands__brand-3:hover .brands__title h2 {
  color: #fff;
}

.brands__brand-3:hover .brands__text {
  color: #fff;
}

.brands__brand-3:hover .brands__link-button {
  color: #fff;
}

.brands__brand-3:hover .brands__link:after {
  position: relative;
  left: 77px;
  top: 18px;
  content: url(arrow_yellow.png);
}

.brands__animate-3 img {
  width: 0px;
  height: 0px;
  position: absolute;
  top: 127px;
  z-index: 11;
  transition: all 0.4s ease 0s;
}

.brands__brand-3:hover .brands__animate-3 img {
  width: 356px;
  height: 447px;
  position: absolute;
  top: 55px;
  z-index: 11;
  transition: all 1s ease 0.1s;
}

.brands__big-cube {
  width: 0;
  height: 0;
  position: relative;
  right: 346px;
  top: 75px;
  z-index: 21;
  transform: rotate(-245deg);
  transition: all 0.4s ease 0s;
}

.brands__little-cube-1 {
  width: 0;
  height: 0;
  position: absolute;
  left: -246px;
  top: 175px;
  transform: rotate(-245deg);
  transition: all 0.3s ease 0s;
}

.brands__little-cube-2 {
  width: 0;
  height: 0;
  position: absolute;
  right: 745px;
  top: 126px;
  transform: rotate(-245deg);
  transition: all 0.3s ease 0s;
}

.brands__little-cube-3 {
  width: 0;
  height: 0;
  position: absolute;
  right: 746px;
  top: 575px;
  transform: rotate(-245deg);
  transition: all 0.3s ease 0s;
}

.brands__brand-3:hover .brands__big-cube {
  width: 279px;
  height: 316px;
  position: absolute;
  right: 105px;
  top: 75px;
  z-index: 21;
  transform: rotate(0deg);
  transition: all 1s ease 0.1s;
}

.brands__brand-3:hover .brands__little-cube-1 {
  width: 77px;
  height: 84px;
  position: absolute;
  left: 274px;
  top: 75px;
  transform: rotate(0deg);
  transition: all 1s ease 0.3s;
}

.brands__brand-3:hover .brands__little-cube-2 {
  width: 44px;
  height: 50px;
  position: absolute;
  right: 95px;
  top: 346px;
  transform: rotate(0deg);
  transition: all 1s ease 0.5s;
}

.brands__brand-3:hover .brands__little-cube-3 {
  width: 49px;
  height: 46px;
  position: absolute;
  right: 137px;
  top: 19px;
  transform: rotate(0deg);
  transition: all 1s ease 0.4s;
}

.brands__brand-4 {
  background-color: #fff;
  position: relative;
  overflow: hidden;
  border: 1px solid #808080;
  width: 341px;
  height: 768px;
  transition: all 0.3s ease 0s;
}

.brands__brand-4:hover {
  background-color: #008FC0;
  margin: 0 auto;
  border: 1px solid #808080;
  width: 341px;
  height: 768px;
}

.brands__brand-4:hover .brands__container-info {
  position: relative;
  top: 390px;
  transition: all 0.7s ease 0s;
}

.brands__brand-4:hover .brands__title p {
  color: #fff;
}

.brands__brand-4:hover .brands__title h2 {
  color: #fff;
}

.brands__brand-4:hover .brands__text {
  color: #fff;
}

.brands__brand-4:hover .brands__link-button {
  color: #fff;
}

.brands__brand-4:hover .brands__link:after {
  position: relative;
  left: 77px;
  top: 18px;
  content: url(arrow_blue.png);
}

.brands__animate-4 img {
  width: 0px;
  height: 0px;
  position: absolute;
  top: 127px;
  z-index: 11;
  transition: all 0.4s ease 0s;
}

.brands__brand-4:hover .brands__animate-4 img {
  width: 356px;
  height: 447px;
  position: absolute;
  top: 55px;
  z-index: 11;
  transition: all 1s ease 0.1s;
}

.brands__speaker {
  position: absolute;
  right: 297px;
  top: 17px;
  transition: all 0.4s ease 0s;
}

.brands__like-1 {
  width: 0;
  height: 0;
  position: absolute;
  right: 225px;
  top: 118px;
  transform: rotate(-245deg);
  transition: all 0.1s ease 0s;
}

.brands__like-2 {
  width: 0;
  height: 0;
  position: absolute;
  right: 217px;
  top: 211px;
  transform: rotate(-245deg);
  transition: all 0.1s ease 0s;
}

.brands__smile {
  width: 0;
  height: 0;
  position: absolute;
  right: 255px;
  top: 140px;
  transition: all 0.1s ease 0s;
}

.brands__heart {
  width: 0;
  height: 0;
  position: absolute;
  right: -2px;
  top: 140px;
  transition: all 0.1s ease 0s;
}

.brands__brand-4:hover .brands__speaker {
  position: absolute;
  right: 37px;
  transition: all 0.7s ease 0.1s;
}

.brands__brand-4:hover .brands__like-1 {
  width: 72px;
  height: 72px;
  position: absolute;
  right: 104px;
  top: 11px;
  transform: rotate(-0deg);
  transition: all 1s ease 0.7s;
}

.brands__brand-4:hover .brands__like-2 {
  width: 83px;
  height: 82px;
  position: absolute;
  right: 15px;
  top: 266px;
  transform: rotate(-0deg);
  transition: all 1s ease 0.8s;
}

.brands__brand-4:hover .brands__smile {
  width: 75px;
  height: 75px;
  position: absolute;
  right: 93px;
  top: 102px;
  transition: all 1s ease 0.4s;
}

.brands__brand-4:hover .brands__heart {
  width: 75px;
  height: 75px;
  position: absolute;
  right: -2px;
  top: 102px;
  transition: all 1s ease 2s;
}

.brands__logo {
  position: absolute;
  top: 41px;
  left: 27px;
  z-index: 21;
}

.brands__container-info {
  position: relative;
  top: 248px;
  margin: 0 auto;
  width: 164px;
  height: 257px;
}

.brands__title {
  position: relative;
  right: 59px;
  width: 205px;
  margin: 0 auto;
  display: flex;
}

.brands__title p {
  font-family: "Swiss721BT-BlackOutline";
  font-size: 36px;
  color: #BAB9B9;
}

.brands__title h2 {
  padding-left: 11px;
  padding-top: 17px;
  font-family: "Bicubik-Regular";
  font-size: 18px;
}

.brands__link {
  width: 183px;
}

.brands__link:after {
  cursor: pointer;
  position: relative;
  left: 77px;
  top: 18px;
  content: url(arrow_gray.png);
}

.brands__link-button {
  font-family: "Bicubik-Regular";
  font-size: 18px;
  color: #000;
  border-bottom: 1px solid;
}

.brands__magic {
  position: absolute;
  top: 705px;
  left: 30px;
}
